<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:security="http://www.springframework.org/schema/security"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">

	<security:http auto-config="true" use-expressions="true">
		<security:csrf disabled="true" />
		<security:headers disabled="true" />
		<security:intercept-url pattern="/secured/usergroups.xhtml"
			access="hasRole('UGS')" />
		<security:intercept-url pattern="/secured/users.xhtml"
			access="hasRole('USERS')" />
		<security:intercept-url pattern="/secured/rolegroups.xhtml"
		<security:intercept-url pattern="/secured/themeTable.xhtml"
			access="hasRole('THEMEMANAGEMENT')" />
		<security:intercept-url pattern="/secured/trainings.xhtml"
			access="hasRole('TRAININGS')" />
		<security:intercept-url pattern="/secured/rolegroups.xhtml"
			access="hasRole('RGS')" />
		<security:intercept-url pattern="/secured/roles.xhtml"
			access="hasRole('ROLES')" />

		<security:intercept-url pattern="/secured/feedbacks.xhtml"
			access="hasRole('FEEDBACKS')" />
		<security:intercept-url pattern="/secured/obs-give-feedbacks.xhtml"
			access="hasRole('WRITE_OBS_FEEDBACK')" />
		<security:intercept-url pattern="/secured/student-give-feedbacks.xhtml"
			access="hasRole('WRITE_STUDENT_FEEDBACK')" />

		<security:intercept-url pattern="/testfeatures/exams.xhtml"
			access="hasRole('INSTRUCTOR')" />
		<security:intercept-url pattern="/testfeatures/examEvaluator.xhtml"
			access="hasRole('INSTRUCTOR')" />
		<security:intercept-url pattern="/testfeatures/examChoose.xhtml"
			access="hasRole('STUDENT')" />
		<security:intercept-url pattern="/testfeatures/examFill.xhtml"
			access="hasRole('STUDENT')" />
		<security:intercept-url pattern="/testfeatures/examQuestions.xhtml"
			access="hasRole('INSTRUCTOR')" />
		<security:intercept-url pattern="/testfeatures/examReviewForInstructor.xhtml"
			access="hasRole('INSTRUCTOR')" />
		<security:intercept-url pattern="/testfeatures/examReviewForStudent.xhtml"
			access="hasRole('STUDENT')" />
		<security:intercept-url pattern="/testfeatures/multipleQuestionDetails.xhtml"
			access="hasRole('INSTRUCTOR')" />
		<security:intercept-url pattern="/testfeatures/singleQuestionDetails.xhtml"
			access="hasRole('INSTRUCTOR')" />
		<security:intercept-url pattern="/testfeatures/textbasedQuestionDetails.xhtml"
			access="hasRole('INSTRUCTOR')" />

		<security:form-login login-page="/public/login.xhtml"
			login-processing-url="/login" default-target-url="/index.xhtml"
			authentication-failure-url="/public/login.xhtml?error=1"
			username-parameter="j_username" password-parameter="j_password" />
		<security:logout logout-url="/logout"
			logout-success-url="/index.xhtml" />
		<security:remember-me remember-me-parameter="remember-me"
			key="myAppKey" remember-me-cookie="remember-me"
			token-validity-seconds="86400" />
	</security:http>

	<security:authentication-manager>
		<security:authentication-provider
			user-service-ref="customUserDetailsService">
			<security:password-encoder hash="bcrypt" />
		</security:authentication-provider>
	</security:authentication-manager>

</beans>